[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* you can be more comfortable with increased icons size */
    font-size: 112%;
}

[class^="icon-"], [class*="icon-"] {
  background-size: 22px;
}

.icon-menu {
    background-image: url('../img/menu.svg');
}

.icon-right {
    background-image: url('../img/right.svg');
}

.icon-toc-view {
    background-image: url('../img/toc-view.svg');
}

.icon-bookmark {
    background-image: url('../img/bookmark.svg');
}

.icon-bookmark-empty {
    background-image: url('../img/bookmark-empty.svg');
}

.icon-bookmark-view {
    background-image: url('../img/bookmark-view.svg');
}

.icon-edit {
    background-image: url('../img/edit.svg');
}

.icon-search {
    background-image: url('../img/search.svg');
}

.icon-upload {
    background-image: url('../img/upload.svg');
}

.icon-settings {
    background-image: url('../img/settings.svg');
}

.icon-resize-full {
    background-image: url('../img/resize-full.svg');
}

.icon-resize-small {
    background-image: url('../img/resize-small.svg');
}

/*  */

.icon-resize-full-1:before { content: '\e804'; } /* '' */
.icon-cancel-circled:before { content: '\e80e'; } /* '' */
.icon-cancel-circled2:before { content: '\e80f'; } /* '' */
.icon-link:before { content: '\e80d'; } /* '' */
.icon-download-cloud:before { content: '\e811'; } /* '' */

.icon-up-dir:before { content: '\e80c'; } /* '' */
.icon-right-dir:before { content: '\e80b'; } /* '' */
.icon-angle-right:before { content: '\e809'; } /* '' */
.icon-angle-down:before { content: '\e80a'; } /* '' */

.icon-list-numbered:before { content: '\e801'; } /* '' */
.icon-columns:before { content: '\e810'; } /* '' */
.icon-list:before { content: '\e800'; } /* '' */
