#titlebar {
    height: 8%;
    min-height: 20px;
    padding: 10px;
    /* margin: 0 50px 0 50px; */
    position: relative;
    color: #4f4f4f;
    font-weight: 100;
    font-family: Georgia, "Times New Roman", Times, serif;
    opacity: .5;
    text-align: center;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    z-index: 10;
}

#titlebar:hover {
    opacity: 1;
}

#titlebar a {
    width: 18px;
    height: 19px;
    line-height: 20px;
    overflow: hidden;
    display: inline-block;
    opacity: .5;
    padding: 4px;
    border-radius: 4px;
}

#titlebar a::before {
    visibility: visible;
}

#titlebar a:hover {
    opacity: .8;
    border: 1px rgba(0,0,0,.2) solid;
    padding: 3px;
}

#titlebar a:active {
    opacity: 1;
    color: rgba(0,0,0,.6);
    /* margin: 1px -1px -1px 1px; */
    -moz-box-shadow:    inset 0 0 6px rgba(155,155,155,.8);
    -webkit-box-shadow: inset 0 0 6px rgba(155,155,155,.8);
    -ms-box-shadow: inset 0 0 6px rgba(155,155,155,.8);
    box-shadow: inset 0 0 6px rgba(155,155,155,.8);
}

#metainfo {
    display: inline-block;
    text-align: center;
    max-width: 80%;
}

#book-title {
    font-weight: 600;
}

#title-seperator {
    display: none;
}

#title-controls {
    float: right;
}

#titlebar input {
    vertical-align: middle;
}

#titlebar input[type=file] {
    width: 26px;
    height: 26px;
    border: 1px solid transparent;
    margin: 0px;
    padding: 0px;
    margin: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    opacity: 0.4;
}

#titlebar input[type=file]:hover {
    cursor: pointer;
    padding: 0px;
    margin: 0px;;
    border: 1px rgba(0,0,0,0.2) solid;
    border-radius: 4px;
    opacity: 0.6;  
}

#titlebar input[type=file]::-webkit-file-upload-button {
    content: none;
    width: 26px;
    height: 26px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    visibility: hidden;
}

#titlebar input[type=button] {
    width: 26px;
    height: 26px;
    border: 1px solid transparent;
    padding: 0px;
    opacity: 0.4;    
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
}

#titlebar input[type=button]:hover {
    padding: 0px;
    border: 1px rgba(0,0,0,0.2) solid;  
    border-radius: 5px;
    opacity: 0.6;  
}